<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Congratulations</title>
    <style>
      body {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
      }
      body::after {
        content: "";
        background: url(congratulations.jpeg);
        opacity: 0.3;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
      }
    </style>
  </head>
  <body>
   <h1>Congratulations!</h1>
   <h2>You correctly guessed <%= @random_player.name %></h2>
   <br><%= image_tag @random_player.image.url(:thumb) %>
  </body>
  <footer>
   <%= link_to "Play again", restart_path %>
  </footer>
  </html>
