<br> <% if @players.any? %>
  <% @players.each do |player| %>
    <%= image_tag player.image.url(:thumb) %>
    <h6><%= player.name %></h6>
  <% end %>
<% else %>
  <h1>No players yet! Please add some by filling in the form</h1>
<% end %>
