<% if !user_signed_in? %>
  <h1>Please Sign In/Sign Up</h1>
<% else %>
<br>
  <% if @players.count == 0 %>
    <h1>No players yet! Please add some by filling in the form</h1>
  <% else %>
      <%= link_to 'Start Game', new_game_path %>
  <% end %>
<% end %>
