<% if @players.any? %>
  <% @players.each do |player| %>
    <h2><%= player.name %></h2>
  <% end %>
<% else %>
  <h1>No players yet! Please add some by filling in the form</h1>
<% end %>

<%= link_to 'Add a player', new_player_path %>
